{% extends "home.html" %}
{% block title %}Student List View{% endblock title %}
{% block body %}
    <!-- ---------------------------------Contant Section Start------------------------------------ -->

    <section class="intro">
      <div class="bg-image h-100 border" style="background-color: #e2e2e2;">
          <div class="mask d-flex mt-5 h-100">
              <div class="container border">
                  <div class="row justify-content-center">
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        {% if std_edit %}
                          <h1 class="text-center mb-4 fs-3 fw-light" style="font-family: poppins;">Update Student Information</h1>
                        {% else %}
                          <h1 class="text-center mb-4 fs-3 fw-light" style="font-family: poppins;">Add New Student</h1>
                        {% endif %}
                        {% if std_edit %}
                            {% for e in std_edit %}
                            <form class="form-group" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="stuid" name="stuid">
                                <input type="text" name="name" id="name" class="form-control mb-2 border"
                                        placeholder="Full Name" value="{{e.name}}">
                                <input type="number" name="roll" id="roll" class="form-control mb-2 border"
                                        placeholder="Roll" value="{{e.roll}}">
                                <input type="text" name="course" id="course" class="form-control mb-2 border"
                                        placeholder="Course" value="{{e.course}}">
                                <button type="submit" class="btn w-100 btn-success">Enroll</button>
                            </form>
                            {%endfor %}
                        {% else %}
                          <form class="form-group" method="POST">
                            {% csrf_token %}
                              <input type="hidden" id="stuid" name="stuid">
                              <input type="text" name="name" id="name" class="form-control mb-2 border"
                                     placeholder="Full Name">
                              <input type="number" name="roll" id="roll" class="form-control mb-2 border"
                                     placeholder="Roll">
                              <input type="text" name="course" id="course" class="form-control mb-2 border"
                                     placeholder="Course">
                              <button type="submit" class="btn w-100 btn-success">Enroll</button>
                          </form>
                        {% endif %}
                          
                          <!-- <hr> -->
                          <!-- <p id="error"><strong class="text-danger"></strong></p> -->
                      </div>
                      <div class="col-lg-8 col-md-12 col-sm-12">
                          <h1 class="text-center mb-4 fs-3 fw-light" style="font-family: poppins;">All Students</h1>
                          <div class="card shadow-2-strong border" style="background-color: #ffffff;">
                              <div class="card-body">
                                  <div class="table-responsive">
                                      <table class="table table-borderless mb-0">
                                          <thead>
                                          <tr>
  
                                              <th scope="col">S/N</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Roll</th>
                                              <th scope="col">Course</th>
                                              <th scope="col">Action</th>
                                          </tr>
                                          </thead>
  
                                          <tbody id="tbody">
  
                                          {% for s in std %}
  
                                          <tr>
  
                                              <td>{{forloop.counter}}</td>
                                              <td id="s_name">{{s.name}}</td>
                                              <td id="s_email">{{s.roll}}</td>
                                              <td id="s_subject">{{s.course}}</td>
                                              <td>
                                                  <a type="button" class="btn btn-primary btn-sm btn-edit px-3" href="{% url 'EditStudentView' s.id %}">E</a>

                                                  <a type="button" class="btn btn-danger btn-sm btn-del px-3 remove-std" href="{% url 'DeleteStudent' s.id %}">X</a>
  
  
                                              </td>
                                          </tr>
                                          {% endfor %}
  
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
  </section>

    <!-- ---------------------------------Contant Section End-------------------------------------- -->
    {% endblock body %}